link(rel="stylesheet", type="text/css", href="components/_component/styles/component.css")
div
  h1 jade del componente de prueba
  h2 prueba de traducción. componente de prueba
  include templates/component_template
